@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Golos+Text&display=swap');

/* Reset and base styles */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    /*outline: none;*/
}

a:focus,
a:active {
    /* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
     color: inherit;
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
     color: inherit;
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* Main styles  */

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 10px 220px 60px;
}

/* header */

.header {
}

.header__container {
}

.header__row {
    display: flex;
    column-gap: 42px;

}

.header__logo {
    padding: 16px 0;
}

.header__logo-title {
   font-family: 'Bebas Neue';
   font-size: 58px;
   color: #1B225C;
   text-align: center;
   text-transform: uppercase;
   line-height: 70%; 
   
}

.header__logo-description {
    margin: 5px 0 0 0;
    text-align: center;
    color: #1B225C;
    font-family: 'Golos Text';
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    white-space: nowrap;
}

.header__panel {
    width: 1258px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    flex: 1 0 0;
}

.header__panel-navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__panel-location {
    display: flex;
    justify-content: center;
}

.header__panel-location img {
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
}

.header__panel-location p {
    color: var(--label-black, #212328);
    font-family: 'Golos Text';
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.header__panel-location p:first-letter {
    text-transform: uppercase;
}

.header__panel-nav ul {
    display: flex;
    align-items: center;
    /* column-gap: 36px; */
}

.header__panel-nav ul li::first-letter{
    text-transform: uppercase;
}

.header__panel-nav ul li {
    position: relative;
    color: var(--label-grey, #8285A5);
    text-align: center;
    font-family: Golos Text VF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
}

.header__panel-nav ul li:not(:last-child) {
    margin: 0 36px 0 0;
    
}

.header__panel-nav ul li:nth-last-child(-2n+2) {
    margin: 0 20px 0 0;
}

.header__panel-nav ul li:nth-child(-n+2)::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px; 
    right: -18px;
    top: 2px;
    background: url('./img/header/arrow-bottom.svg') center 0 no-repeat;

}

.header__panel-control {
    display: flex;
}

.header__panel-catalog {
    display: flex;
    align-items: center;
    column-gap: 8px;
    background-color: #0064D8;
    padding: 12px 14px;
    border-radius: 10px;
    margin: 0 20px 0 0;
    min-width: 190px;
}

.header__panel-catalog p{
    color: var(--label-white, #FFF);
    font-family: 'Golos Text';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.header__panel-catalog p:first-letter{
    text-transform: uppercase;
}

.header__panel-catalog img{
    width: 24px;
    height: 24px;
}

.header__panel-favorites {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 4px;
   margin: 0 20px 0 0;
}

.header__panel-favorites img{
    width: 24px;
    height: 24px;
}

.header__panel-favorites p{
    color: var(--label-black, #212328);
    text-align: center;
    font-family: 'Golos Text';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.header__panel-favorites p::first-letter {
    text-transform: uppercase;
}

.header__panel-basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4px;
    margin: 0 20px 0 0;
}

.header__panel-basket img{
    width: 24px;
    height: 24px;
}

.header__panel-basket p{
    color: var(--label-black, #212328);
    text-align: center;
    font-family: 'Golos Text';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.header__panel-basket p::first-letter {
    text-transform: uppercase;
}

.header__panel-signin {
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 14px 24px;
    background: var(--bg-light-blue, #F2F7FD);
    border-radius: 10px;
}

.header__panel-signin p{
    color: var(--label-black, #212328);
    font-family: Golos Text VF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.header__panel-signin p::first-letter {
    text-transform: uppercase;
}

.search-form {
    border-radius: 10px;
    border: 2px solid var(--accent-blue-1, #0064D8);
    display: inline-flex;
    padding: 12px 14px;
    width: 100%;
    margin: 0 20px 0 0;
}

.search-form__btn img {
    width: 24px;
    height: 24px;
    margin: 0 8px 0 0;
}

.search-form__txt {
    color: var(--label-grey, #8285A5);
    font-family: 'Golos Text';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
     width: 100%;
}

/* swiper  */

.swiper{
    margin: 20px 0 0 0;
    width: 100%;
    max-height: 440px;
    border-radius: 12px;
  }
  .swiper-slide{
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
  .swiper-button-next::before{
    content: '';
    position: absolute; 
    width: 36px;
    height: 36px;
    background: url('./img/slider/arrow-right.svg') #fff center 6px no-repeat;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
    border-radius: 99px;
  }

  .swiper-button-next::after{
    display: none;
  }

  .swiper-button-prev::before{
    content: '';
    position: absolute; 
    width: 36px;
    height: 36px;
    background: url('./img/slider/arrow-left.svg') #fff center 6px no-repeat;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
    border-radius: 99px;
  }

  .swiper-button-prev::after{
      display: none;
  }

  .swiper-pagination-bullet {
    background: #fff !important;
  }

  /* achievements */

  .achievements {
    margin: 20px 0 0 0;
}

.achievements__container {
}

.achievements__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.achievements__item {
    display: flex;
    flex: 1;    
    align-items: center;
    border-radius: 16px;
    background: var(--bg-light-blue, #F2F7FD);
    padding: 16px 20px;
    column-gap: 20px;
    min-width: 252px;
 
}

.achievements__item p::first-letter{
    text-transform: uppercase;
}

.achievements__item p{
    max-width: 160px;
    color: var(--black, #212328);
    font-family: 'Golos Text';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    max-height: 80px;
}

.achievements__item img {
    width: 40px;
    height: 40px;
}

/* noveties */

.novelties {
    margin: 60px 0 0 0;
    width: 100%;
   
   
}
.novelties__container {
    width: 100%;
    height: 100%;      
}
.novelties__title {
    color: var(--black, #212328);
    font-family: 'Golos Text';
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.44px;
    margin: 0 0 30px 0;
}

.novelties__title::first-letter{
    text-transform: uppercase;
}

.novelties__row {
    display: flex;
    column-gap: 20px;
    width: 100%;
    height: 100%;
    
}
.novelties__big-card {
    width: 50%;
}

.novelties__big-card img{
   width: 100%;
   height: 100%;
}

.novelties__small-cards {
    width: 100%;
    display: flex;
    align-items: start;
    column-gap: 20px;
}
.novelties__small-card {
    width: 100%;
}

.novelties__small-card:hover p {
   color:#0064D8;
}

.novelties__small-card p {
    margin-top: 8px;
    text-align: center;
    color: var(--black, #212328);
    font-family: Golos Text VF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.novelties__small-card p::first-letter {
    text-transform: uppercase;
}

.novelties__small-card img {
    width: 100%;
}

.novelties__column-cards {
    width: 100%;
    row-gap: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* banner */

.banner {
    margin: 60px 0 0 0;
}

.banner img {
width: 100%;
}

/* shops */

.shops {
    margin: 60px 0 0 0;
}
.shops__container {
}
.shops__row {
    display: flex;
    column-gap: 60px;
}
.shops__address {
    width: 31%;
}

.shops__address h2 {
    margin: 20px 0 0 0;
    color: var(--label-black, #212328);
    font-family: 'Golos Text';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.shops__address ul {
    margin: 0 0 20px 0;
}

.shops__address li {
    
    color: var(--label-black, #212328);
    font-family: 'Golos Text';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.shops__title {
    color: var(--label-black, #212328);
    font-family: 'Golos Text';
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    letter-spacing: -0.44px;
}

.shops__title::first-letter {
    text-transform: uppercase;
}

.shops__map {
    width: 69%;
    height: 500px;
}
.shops__input {
}

/* select */

.select {
	margin: 30px 0 20px 0; 
	position: relative;
	width: 100%;    
}
.select.is-active .select__body {
	display: block;}

.select__header {
	cursor: pointer;
	display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--separator-grey, #E7E7E7);
    background: var(--bg-white, #FFF);
    padding: 8px 12px;
}

.select__city {
    color: var(--label-grey, #8285A5);
    font-family: 'Golos Text';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.select__current {
	font-size: 18px;
	line-height: 24px;
	color: var(--label-black, #212328);
    font-family: 'Golos Text';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.select__icon {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	height: 24px;
	margin-left: auto;
	text-align: center;
	width: 24px;
}

.select__body {
    border-radius: 10px;
	border: 1px solid var(--separator-grey, #E7E7E7);
    background-color: #fff;
	border-top: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 100%;
}
.select__item {
	cursor: pointer;
	font-size: 16px;
	line-height: 24px;
	padding: 8px;
}

.select__item:hover {
	background-color: #f2f2f2;
}

.line-separator {
    color: #E7E7E7;
    background-color: #E7E7E7;
    height: 1px; 
}